body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url(https://ae01.alicdn.com/kf/Hd7fa288262c843de88b1647540169516o/Modern-Bright-Orange-Solid-Color-Wall-Papers-Home-Decor-Non-Woven-Plain-Wallpaper-Roll-for-Bedroom.jpg);
  }
  #t2 {
    background-image: url(https://www.grahambrown.com/on/demandware.static/-/Library-Sites-Library/default/dw2b870059/images/plainAndTextured_20180226_subBanner.jpg)
  }